body{
    min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header{
    height: 30 px;
}
footer {
    margin-top: auto;
  }

.footer_text{
    text-align: center;
}

/*Initial Welcoming*/
.website_header{
    text-align: center;
    font-size: 90px;
    color: #F27059;
}

u{
    color: #F27059; 
}



/*For the Navigation Bar */
.nav_bar{
    border-radius: 25px;
}
.food_buttons{
    border-radius: 25px;
    top:300px;
    left:60px;
    height:400px;
    width:300px;
    display: inline;
    padding: 10px;
    margin-left: 70px;
}

ul{
    list-style-type: none;
    position: sticky;
}
li{
    font-size:25px;
    float:left;
    padding: 14px 16px;
    margin-left:95px;
    margin-bottom:20px;
    display: block;
}
.a1:link {
color: #EDF1D6;
background-color: transparent;
text-decoration: none;
}

.a1:visited {
    color: #EDF1D6;
    background-color: transparent;
    text-decoration: none;
  }

.a1:hover {
    color: #F27059;
    background-color: transparent;
    text-decoration: none;
  }
  
  .a2:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    }
    
    .a2:visited {
        color: black;
        background-color: transparent;
        text-decoration: none;
      }
    
      .a2:hover {
        color: black;
        background-color: none;
        text-decoration: none;
      }


.button1{
    font-size:25px;
    float:left;
    padding: 14px 16px;
    margin-left:160px;
    margin-bottom:20px;
    display: block;
    border-radius:20px;
    border-width: 5px;
    font-weight: bold;
    background-color: #EDF1D6;
}

.button1:hover{
    color: black;
    background-color: #F7B267;
    text-decoration: none;
}
.button2{
    font-size:25px;
    float:left;
    padding: 14px 16px;
    margin-left:250px;
    margin-bottom:20px;
    display: block;
    border-radius:20px;
    border-width: 5px;
    font-weight: bold;
    background-color: #EDF1D6;
}

.button2:hover{
    color: black;
    background-color: #F7B267;
    text-decoration: none;
}

.button3{
    font-size:25px;
    float:left;
    padding: 14px 16px;
    margin-left:260px;
    margin-bottom:20px;
    display: block;
    border-radius:20px;
    border-width: 5px;
    font-weight: bold;
    background-color: #EDF1D6;
}

.button3:hover{
    color: black;
    background-color: #F7B267;
    text-decoration: none;
}



@media (max-width:1000px) {
    .food_buttons{
    height:300px;
    width:200px;

    }
}

@media (max-width:1000px) {
    .button1{
        height: 50px;
        width: 150px;
        padding: 5px 10px;
    }

    .button2{
        height: 50px;
        width: 150px;
        padding: 5px 10px;
    }

    .button3{
        height: 50px;
        width: 150px;
        padding: 5px 10px;
    }

 }